/**
 * @import url() 是 css 的方法，在 scss 中不生效，需使用 @import '../路径'
 */
@import '../../css/paper.scss';

@mixin button-type-interactive(
  $hover-bg-color,
  $hover-border-color,
  $active-bg-color,
  $active-border-color,
  // $focus-bg-color: none,
  // $focus-border-color: none,
) {
  &:hover {
    transform: translate3d(0, 2px, 0);
    box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
    background-color: $hover-bg-color;
    border-color: $hover-border-color;
  }

  &:active {
    border-color: $active-border-color;
    background-color: $active-bg-color;
    transition: none;
  }

  // &:focus {
  //   border-color: $paper-secondary;
  //   box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
  // }
}

@mixin button-type($color, $bg-color, $border-color: $color) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;
}

@mixin button-size($font-size: 1rem, $padding: 0.75rem) {
  transition: all 235ms ease 0s;
  font-size: $font-size;
  padding: $padding;
}

.paper-btn,
.paper-btn-default {
  border: {
    bottom-left-radius: 15px 255px;
    bottom-right-radius: 225px 15px;
    top-left-radius: 255px 15px;
    top-right-radius: 15px 225px;
    style: solid;
    width: 2px;
  }
  align-self: center;
  background-image: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  @include button-size;
  @include button-type($paper-primary, $paper-main-background);
  @include button-type-interactive(
    $paper-main-background,
    $paper-primary,
    $paper-main-background,
    rgba(0, 0, 0, 0.2)
  );

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      transform: none;
    }
  }
}

.paper-btn-primary {
  @include button-type($paper-primary-text, $paper-primary-light, $paper-primary);
  @include button-type-interactive($paper-primary-light, $paper-primary, #a8a6a3, $paper-primary);
}

.paper-btn-secondary {
  @include button-type($paper-secondary-text, $paper-secondary-light, $paper-secondary);
  @include button-type-interactive(
    $paper-secondary-light,
    $paper-secondary,
    #abd6ff,
    $paper-secondary
  );
}

.paper-btn-success {
  @include button-type($paper-success-text, $paper-success-light, $paper-success);
  @include button-type-interactive($paper-success-light, $paper-success, #b7c9a1, $paper-success);
}

.paper-btn-warning {
  @include button-type($paper-warning-text, $paper-warning-light, $paper-warning);
  @include button-type-interactive($paper-warning-light, $paper-warning, #ede49b, $paper-warning);
}

.paper-btn-danger {
  @include button-type($paper-danger-text, $paper-danger-light, $paper-danger);
  @include button-type-interactive($paper-danger-light, $paper-danger, #e6a5a1, $paper-danger);
}

.paper-btn-muted {
  @include button-type($paper-muted-text, $paper-muted-light, $paper-muted);
  @include button-type-interactive($paper-muted-light, $paper-muted, #caced1, $paper-muted);
}

.paper-btn-large {
  @include button-size(2rem, 1rem);
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
}

.paper-btn-small {
  @include button-size(0.75rem, 0.5rem);
  box-shadow: 10px 19px 17px -13px rgba(0, 0, 0, 0.2);
}

.paper-btn-block {
  display: block;
  width: 100%;
}

@mixin button-outline($color, $border-color, $hover-bg-color, $hover-border-color) {
  background-color: #fffffe;
  border-color: $border-color;
  color: $color;

  &:hover {
    background-color: $hover-bg-color;
    border-color: $hover-border-color;
  }

  &:active {
    background-color: $border-color;
  }
}

// scss 定义数组
$btn-list: (primary, secondary, success, warning, danger, muted);

@each $label in $btn-list {
  .paper-btn-#{$label}-outline {
    @if $label == primary {
      @include button-outline(#41403e, #a8a6a3, #c1c0bd, #41403e);
    }
    @if $label == secondary {
      @include button-outline(#0057ab, #abd6ff, #deefff, #0071de);
    }
    @if $label == success {
      @include button-outline(#6c844d, #b7c9a1, #d0dbc2, #86a361);
    }
    @if $label == warning {
      @include button-outline(#cab925, #ede49b, #f5f0c6, #ddcd45);
    }
    @if $label == danger {
      @include button-outline(#7f2722, #e6a5a1, #f0cbc9, #a7342d);
    }
    @if $label == muted {
      @include button-outline(#6c757d, #caced1, #e6e7e9, #868e96);
    }
  }
}
