// heading 引用图标
@mixin heading-before-icon($size) {
  &::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    width: $size;
    height: $size;
    background-size: $size $size;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    // background-image: url(@site/static/img/dino/dino-drawing.svg);
    background-image: url(@site/static/img/dino/dino-think.svg);
  }
}

// img 样式
@mixin img-style {
  box-shadow: 0 4px 8px rgb(3 27 78 / 12%);
  border-radius: 3px;
  width: 100%;
}

/* Markdown */
.markdown {
  font-size: var(--dino-font-size-sm);
  code {
    font-size: var(--dino-font-size-xs);
  }
  a:hover {
    text-decoration: underline !important;
  }
  // 引言
  > blockquote {
    border-left-width: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    p {
      font-size: 13px;
      color: var(--dino-color-blockquote);
    }
  }
  h2 > code,
  h3 > code,
  h4 > code {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  h5 > code {
    margin-top: -2px;
  }
  // > header > h1 {}
  // h2 标题
  h2[class*='anchor'] {
    @include heading-before-icon(24px);
    padding-left: 26px;
    > code {
      font-size: var(--dino-font-size-base);
    }
  }
  h3[class*='anchor'] {
    @include heading-before-icon(20px);
    padding-left: 24px;
    code {
      font-size: 15px;
    }
  }
  h4[class*='anchor'] {
    @include heading-before-icon(16px);
    padding-left: 18px;
    code {
      font-size: var(--dino-font-size-sm);
    }
  }
  ul li,
  p {
    letter-spacing: 2px;
    line-height: 1.875;
  }
  // tabs
  > ul + .tabs-container {
    margin-top: -1.25rem;
  }
  img {
    display: block;
    max-height: 420px;
    margin: 0 auto var(--ifm-leading); // 1.25rem
    @include img-style;
  }

  // 对 arco-design 的样式做一些兼容
  .arco-image {
    display: block;
    margin: 0 auto var(--ifm-leading); // 1.25rem
    max-height: 420px;
    > img {
      width: 100%;
      height: inherit;
      max-height: inherit;
      cursor: zoom-in;
      @include img-style;
    }
  }
  .arco-pagination {
    li {
      letter-spacing: 0;
      line-height: 32px;
    }
  }
}
