@import '../../css/dino.scss';

@media (min-width: 997px) {
  .dino-menu-sidebar {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100%;
    position: sticky;
    top: 0;
    padding-top: var(--ifm-navbar-height);
    transition: opacity 50ms ease;
    padding-top: 0;
  }
  .sidebarWithHideableNavbar {
    padding-top: 0;
  }
  .sidebarHidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: none;
  }
  .dino-menu-nav {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.5rem 0.875rem;
    flex-grow: 1;
    font-weight: 500;
    &:hover {
      overflow-y: auto;
    }

    $level-list: (1, 2, 3, 4, 5); // 仅支持嵌套5层
    $menu-link-padding-horizontal: 0.875rem;
    @each $level in $level-list {
      .theme-doc-sidebar-item-category-level-#{$level}.menu__list-item,
      .theme-doc-sidebar-item-link-level-#{$level}.menu__list-item {
        .menu__link {
          @if $level == 1 {
            font-size: $--dino-font-size-base; // 16px
            color: var(--dino-color-text-2);
          } @else {
            font-size: $--dino-font-size-sm; // 14px
            color: var(--dino-color-text-1);
            font-weight: normal;
          }
          padding-left: $menu-link-padding-horizontal * $level;
        }
        .menu__link--active {
          @if $level != 1 {
            &::after {
              content: '';
              position: absolute;
              right: 0.625rem;
              top: 50%;
              transform: translateY(-50%);
              display: block;
              width: 20px;
              height: 20px;
              background-image: url(//p1-arco.byteimg.com/tos-cn-i-uwbnlip3yd/a2171d9978bfc9ec2374c127d0465273.png~tplv-uwbnlip3yd-png.png);
              background-size: 100%;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }

    > .menu__list {
      padding-bottom: 1.5rem;
    }
    .menu__list {
      width: calc(var(--doc-sidebar-width) - 0.875rem * 2);
      padding-left: 0;
      .menu__link {
        line-height: 2.5rem;
        padding: 0 var(--ifm-menu-link-padding-horizontal);
      }
      .menu__link--active {
        color: var(--ifm-color-primary) !important;
        font-weight: 500 !important;
        position: relative;
      }
      .menu__link--active,
      .menu__link:hover,
      .menu__list-item-collapsible:hover {
        background-color: var(--dino-color-fill-2);
      }
      // 层级菜单
      .menu__list-item-collapsible > button::before,
      .menu__link--sublist::after {
        background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem; // 展开箭头图标
        margin: auto 0;
      }
    }
  }

  .sidebarLogo-box {
    overflow: hidden;
  }

  .sidebarLogo {
    display: flex !important;
    align-items: center;
    margin: 0 var(--ifm-navbar-padding-horizontal);
    min-height: var(--ifm-navbar-height);
    max-height: var(--ifm-navbar-height);
    color: inherit !important;
    text-decoration: none !important;
    width: calc(var(--doc-sidebar-width) - var(--ifm-navbar-padding-horizontal) * 2);

    img {
      margin-right: 0.5rem;
      height: 2rem;
    }
  }
}

.sidebarLogo {
  display: none;
}
