@media (min-width: 997px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100%;
    position: sticky;
    top: 0;
    padding-top: var(--ifm-navbar-height);
    transition: opacity 50ms ease;
    padding-top: 0;
  }
  .sidebarWithHideableNavbar {
    padding-top: 0;
  }
  .sidebarHidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: none;
  }

  .sidebarLogoBox {
    overflow: hidden;
    min-height: var(--ifm-navbar-height);
    max-height: var(--ifm-navbar-height);
  }
  .sidebarLogo {
    display: flex !important;
    align-items: center;
    margin: 0 var(--ifm-navbar-padding-horizontal);
    height: 100%;
    color: inherit !important;
    text-decoration: none !important;
    width: calc(var(--doc-sidebar-width) - var(--ifm-navbar-padding-horizontal) * 2);

    img {
      margin-right: 0.5rem;
      height: 2rem;
    }
  }

  .menu {
    padding: 0.5rem 0.875rem;
    flex-grow: 1;
  }
}

.sidebarLogo {
  display: none;
}
