@mixin selected {
  background-color: rgb(var(--darkgray-8));
  &:hover {
    border-color: var(--color-fill-3) !important;
    background-color: rgb(var(--darkgray-8)) !important;
  }
}

.codePreview {
  .optionsBtn {
    background-color: var(--color-white);
    border: 1px solid var(--color-fill-3);
  }
  .expanded {
    @include selected;
    > .icon {
      color: #fff;
    }
  }
}

html[data-theme='dark'] {
  .codePreview {
    .optionsBtn {
      @include selected;
    }
    .expanded {
      background-color: var(--color-white);
      &:hover {
        background-color: var(--color-white) !important;
      }
      > .icon {
        color: rgb(var(--darkgray-8));
      }
    }
  }
}

.codeBlockList {
  // border-radius: 2px;
  box-shadow: var(--ifm-global-shadow-lw);
  max-height: 1200px;
  overflow-y: hidden;
  background-color: rgb(246, 248, 250);
  &:hover {
    overflow-y: auto;
  }
  > div[class*='codeBlockContainer_'] {
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: none;
    border-bottom: 1px dashed var(--ifm-color-emphasis-300);
    padding-bottom: 2rem;

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  div[class*='codeBlockTitle_'] {
    display: none;
  }
  div[class*='codeBlockContent_'] {
    max-height: initial !important;
    overflow-y: initial !important;
  }
}
