.sidebar {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  top: calc(var(--ifm-navbar-height) + 2rem);

  @media (max-width: 996px) {
    display: none;
  }
}

.sidebarItemLink {
  color: inherit;
}

.sidebarItemLinkActive {
  color: var(--ifm-color-primary) !important;
}
