.box {
  background-color: #eee;
}

.content {
  background-color: rgb(var(--primary-6));
  max-width: 250px;
  padding: 10px;
  margin-bottom: 12px;
  color: #fff;
  text-align: left;
  width: fit-content;
}
