.paper-card {
  backface-visibility: hidden; // 当前元素背面向屏幕时是否可见
  -webkit-backface-visibility: hidden;
  will-change: transform; // 告知浏览器该元素会有哪些变化
  box-shadow: var(--dino-paper-card-shadow-color);
}

.paper-card-hover {
  &:hover {
    transform: translate3d(0, 2px, 0);
  }
}
