.browserWindow {
  border: 3px solid var(--dino-color-browser-bg);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1.25rem;

  ul {
    list-style: revert;
  }

  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 1.25rem;
  }

  .browserWindowHeader {
    background-color: var(--dino-color-browser-bg);
  }

  .dot {
    margin-right: 6px;
    height: 12px;
    width: 12px;
    // background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .browserWindowAddressBar {
    flex: 1 0;
    border-radius: 12.5px;
    background-color: var(--dino-color-body-bg);
    padding: 5px 15px;
  }

  // .browserWindowMenuIcon {
  // }

  .bar {
    width: 17px;
    height: 3px;
    background-color: #aaa;
    margin: 3px 0;
    display: block;
  }

  .browserWindowBody {
    padding: 1rem 1.5rem;
  }
}
