/**
 * 全局公共样式 - 部分样式与 infima 源码重叠，仅供学习使用 
 *
 * @import url() 是 css 的方法，在 scss 中不生效，需使用 @import '../路径'
 */
@import '~antd/dist/antd.css';
@import './dino.scss';
@import './dino-styles.scss';
@import './paper.scss';
@import './theme.scss';

:root {
  --ifm-navbar-height: 3.75rem;
}

/* Container - 容器 */
.container {
  padding: 0 $--dino-space-4;

  @media (min-width: $--dino-2xl) {
    max-width: $--dino-2xl;
  }
}

/* TODO NavBar - 顶部导航栏 */
.navbar {
  background-color: var(--dino-navbar-bg-color);
}

/* Markdown */
.markdown {
  @mixin heading-styles {
    margin-top: $--dino-space-8;
    margin-bottom: $--dino-space-5;
    > code {
      font-size: $--dino-font-size-xl !important;
    }
  }
  @mixin heading-styles-small {
    margin-top: $--dino-space-6;
    margin-bottom: $--dino-space-3;
  }
  > h1 {
    @include heading-styles;
    font-size: $--dino-h1-font-size;
  }
  > h2 {
    @include heading-styles;
    font-size: $--dino-h2-font-size;

    &:nth-of-type(n + 2) {
      margin-top: $--dino-space-16;
    }
  }
  > h3 {
    @include heading-styles;
    font-size: $--dino-h3-font-size;
  }
  > h4 {
    @include heading-styles-small;
    font-size: $--dino-h4-font-size;
  }
  > h5 {
    @include heading-styles-small;
    font-size: $--dino-h5-font-size;
  }
  > h6 {
    @include heading-styles-small;
    font-size: $--dino-h6-font-size;
  }
  li {
    line-height: $--dino-leading-7;
    + li {
      margin-top: $--dino-space-1;
    }
  }
  > ul,
  > p,
  > img {
    margin-bottom: $--dino-space-5;
  }
  ul,
  ol {
    list-style: revert;
  }
  > ul + .tabs-container {
    margin-top: -#{$--dino-space-5};
  }
  code {
    font-size: $--dino-font-size-sm !important;
  }
}

/* 告示框 组件 */
.admonition {
  ul {
    list-style: revert;
  }
}

/* 交互式代码编辑器 */
// .playgroundContainer {
//   .playgroundEditor {
//     padding: 9px !important;
//     > textarea {
//       padding: 18px !important;
//     }
//     > pre {
//       padding: 8px !important;
//       border: 1px dashed $--dino-color-pink-200 !important;
//       border-radius: initial;
//     }
//   }
// }

/* doc 页面 */
.docs-doc-page {
  .markdown {
    h1 {
      font-size: 3rem;
    }
  }
}

/* doc / blog 右侧目录 */
.table-of-contents,
.table-of-contents ul {
  .table-of-contents__link {
    > code {
      font-size: $--dino-font-size-xs;
    }
  }
}

/* 高亮代码块样式 */
.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1); // 高亮区域背景色
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* github 图标样式 */
// .header-github-link:before {
//   content: '';
//   width: 24px;
//   height: 24px;
//   display: flex;
//   margin-right: -10px;
//   /* // https://fontawesome.com/license */
//   background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 496 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z'/%3E%3C/svg%3E")
//     no-repeat;
//   /* background: url("./../../static/img/github.svg") no-repeat; */
// }

/* TODO Dark Theme */
html[data-theme='dark'] {
  .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/* Antd Styles */
.ant-divider-dashed {
  border-color: $--dino-color-blueGray-200;
}
.ant-divider-horizontal.ant-divider-with-text.ant-divider-dashed {
  border-color: $--dino-color-blueGray-400;
}
.ant-divider-horizontal.ant-divider-with-text .ant-divider-inner-text {
  color: var(--dino-body-text-color);
}

.ant-tag {
  font-weight: $--dino-font-weight-medium;
}
.ant-tag > a:first-child:last-child {
  margin: 0;
  padding: 0;
}
.ant-tag a,
.ant-tag a:hover {
  color: $--dino-color-white !important;
}
