/**
 * 全局公共样式 - 部分样式与 infima 源码重叠，仅供学习使用 
 *
 * @import url() 是 css 的方法，在 scss 中不生效，需使用 @import '../路径'
 */
@import '~antd/dist/antd.css';
@import './dino.scss';
@import './paper.scss';

/* 方正莎儿硬笔简体 */
@font-face {
  font: {
    family: 'FZSEYBJW';
    weight: normal;
    style: normal;
  }
  src: url(../../static/fonts/FZSEYBJW.ttf);
}

/* 方正字迹-青柠体 简 */
@font-face {
  font: {
    family: 'FZZJ-QNTJW';
    weight: normal;
    style: normal;
  }
  src: url(../../static/fonts/FZZJ-QNTJW.ttf);
}

:root {
  /* Theme - 主题 */
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #46cbae;
  --ifm-color-primary-lighter: #66d4bd;
  --ifm-color-primary-lightest: #92e0d0;

  /* Container */
  --ifm-container-width: 1140px;
  --ifm-container-width-xl: 1320px;

  /* Transitions. */
  --ifm-transition-fast: 300ms;
  --ifm-transition-slow: 500ms;
  --ifm-transition-timing-default: cubic-bezier(0.08, 0.52, 0.52, 1); // 贝塞尔曲线

  --ifm-leading-desktop: 1.25;
  --ifm-leading: calc(var(--ifm-leading-desktop) * 1rem);
  --ifm-list-paragraph-margin: 1rem;
  --ifm-list-item-margin: 0.35rem;

  /* Background */
  --ifm-background-color: var(--ifm-color-white); // 全局背景
  --ifm-navbar-background-color: var(--ifm-background-color); // 导航栏背景

  /* Link */
  --ifm-link-color: var(--ifm-color-primary);
  --ifm-link-hover-color: var(--ifm-link-color);

  /* Code */
  --ifm-code-font-size: 95%;

  /* PaperCss 风格 */
  --paper-white-dark: rgba(0, 0, 0, 0.03);
  --paper-primary: #41403e;
  --paper-primary-text: #272625;
  --paper-primary-light: #c1c0bd;
  --paper-secondary: #0071de;
  --paper-secondary-text: #0057ab;
  --paper-secondary-light: #deefff;
  --paper-success: #86a361;
  --paper-success-text: #6c844d;
  --paper-success-light: #d0dbc2;
  --paper-warning: #ddcd45;
  --paper-warning-text: #cab925;
  --paper-warning-light: #f5f0c6;
  --paper-danger: #a7342d;
  --paper-danger-text: #7f2722;
  --paper-danger-light: #f0cbc9;
  --paper-muted: #868e96;
  --paper-muted-text: #6c757d;
  --paper-muted-light: #e6e7e9;
  --paper-main-background: var(--ifm-color-white);
}

a {
  color: var(--ifm-link-color);
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  text-decoration: none;

  &:hover {
    color: var(--ifm-link-hover-color);
    opacity: 0.8;
    text-decoration: none;
  }

  // 没有 href 属性的 a 标签
  :not([href]) {
    text-decoration: none;
  }
}

code {
}

/* Container */
.container {
  margin: 0 auto;
  max-width: var(--ifm-container-width);
  padding: 0 1rem;
  width: 100%;

  @media (min-width: 1440px) {
    max-width: var(--ifm-container-width-xl);
  }
}

/* Footer */
.footer--dark {
  // --ifm-footer-background-color: var(--user-color-black-200);
}

/* Markdown */
.markdown {
  --ifm-h1-vertical-rhythm-top: 3;
  --ifm-h1-vertical-rhythm-bottom: 1.25;
  --ifm-h2-vertical-rhythm-top: 2;
  --ifm-h3-vertical-rhythm-top: 1.5;
  --ifm-heading-vertical-rhythm-top: 1.25;
  --ifm-heading-vertical-rhythm-bottom: 1;

  @mixin heading-styles($heading) {
    margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));

    @if $heading == 1 {
      font-size: 3rem;
      margin-bottom: calc(var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading));
    } @else if $heading == 2 {
      font-size: 2rem;
      margin-top: calc(var(--ifm-h2-vertical-rhythm-top) * var(--ifm-leading));
    } @else if $heading == 3 {
      font-size: 1.5rem;
      margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
    } @else {
      margin-top: calc(var(--ifm-heading-vertical-rhythm-top) * var(--ifm-leading));
    }
  }

  @for $i from 1 to 7 {
    h#{$i} {
      @include heading-styles($i);
    }
  }

  > pre,
  > ul,
  > p {
    margin-bottom: var(--ifm-leading);
  }

  li {
    word-wrap: break-word;

    > p {
      margin-top: var(--ifm-list-paragraph-margin);
    }

    + li {
      margin-top: var(--ifm-list-item-margin);
    }
  }
}

/* 高亮代码块样式 */
.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1); // 高亮区域背景色
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* github 图标样式 */
// .header-github-link:before {
//   content: '';
//   width: 24px;
//   height: 24px;
//   display: flex;
//   margin-right: -10px;
//   /* // https://fontawesome.com/license */
//   background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 496 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z'/%3E%3C/svg%3E")
//     no-repeat;
//   /* background: url("./../../static/img/github.svg") no-repeat; */
// }

/* Dark Theme */
html[data-theme='dark'] {
  // --ifm-navbar-background-color: var(--dino-color-purple-100);

  --paper-white-dark: rgba(255, 255, 255, 0.03);
  --paper-primary: var(--ifm-color-white);
  --paper-primary-text: #41403e;
  --paper-primary-light: var(--ifm-color-white);
  --paper-secondary: #0071de;
  --paper-secondary-text: #0057ab;
  --paper-secondary-light: #007ef8;
  --paper-success: #189418;
  --paper-success-text: #116811;
  --paper-success-light: #1caa1c;
  --paper-warning: #ddcd45;
  --paper-warning-text: #cab925;
  --paper-warning-light: #e1d35b;
  --paper-danger: #ff8c86;
  --paper-danger-text: #ff5c53;
  --paper-danger-light: #ffa4a0;
  --paper-muted: #868e96;
  --paper-muted-text: #6c757d;
  --paper-muted-light: #949ba2;
  --paper-main-background: #41403e;

  .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/* Antd Styles */
.ant-divider-dashed {
  border-color: $--dino-color-blueGray-200;
}
.ant-divider-horizontal.ant-divider-with-text.ant-divider-dashed {
  border-color: $--dino-color-blueGray-400;
}
.ant-divider-horizontal.ant-divider-with-text .ant-divider-inner-text {
  @include theme_font_color('dino-font-color');
}

.ant-tag {
  font-weight: $--dino-font-weight-medium;
}
.ant-tag > a:first-child:last-child {
  margin: 0;
  padding: 0;
}
.ant-tag a,
.ant-tag a:hover {
  color: $--dino-color-white !important;
}
