/**
 * 方正莎儿硬笔简体
 */
@font-face {
  font: {
    family: 'FZSEYBJW';
    weight: normal;
    style: normal;
  }
  src: url(../../static/fonts/FZSEYBJW.ttf);
}

/**
 * 方正字迹-青柠体 简
 */
@font-face {
  font: {
    family: 'FZZJ-QNTJW';
    weight: normal;
    style: normal;
  }
  src: url(../../static/fonts/FZZJ-QNTJW.ttf);
}
