@import './dino.scss';

$--dino-paper-primary-border: $--dino-color-gray-600;
$--dino-paper-primary-text: $--dino-color-gray-800;
$--dino-paper-primary-bg: #c1c0bd;
$--dino-paper-primary-bg-active: #a8a6a3;

$--dino-paper-secondary-border: #0071de;
$--dino-paper-secondary-text: #0057ab;
$--dino-paper-secondary-bg: #deefff;
$--dino-paper-secondary-bg-active: #abd6ff;

$--dino-paper-success-border: #86a361;
$--dino-paper-success-text: #6c844d;
$--dino-paper-success-bg: #d0dbc2;
$--dino-paper-success-bg-active: #b7c9a1;

$--dino-paper-warning-border: #ddcd45;
$--dino-paper-warning-text: #cab925;
$--dino-paper-warning-bg: #f5f0c6;
$--dino-paper-warning-bg-active: #ede49b;

$--dino-paper-danger-border: #a7342d;
$--dino-paper-danger-text: #7f2722;
$--dino-paper-danger-bg: #f0cbc9;
$--dino-paper-danger-bg-active: #e6a5a1;

$--dino-paper-muted-border: #868e96;
$--dino-paper-muted-text: #6c757d;
$--dino-paper-muted-bg: #e6e7e9;
$--dino-paper-muted-bg-active: #caced1;

/* Border 样式 */
.paper-border {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.paper-border-2 {
  border-bottom-left-radius: 185px 25px;
  border-bottom-right-radius: 20px 205px;
  border-top-left-radius: 125px 25px;
  border-top-right-radius: 10px 205px;
}

.paper-border-3 {
  border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 15px 255px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 255px 15px;
}

.paper-border-4 {
  border-bottom-left-radius: 25px 115px;
  border-bottom-right-radius: 155px 25px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 25px 150px;
}

.paper-border-5 {
  border-bottom-left-radius: 20px 115px;
  border-bottom-right-radius: 15px 105px;
  border-top-left-radius: 250px 15px;
  border-top-right-radius: 25px 80px;
}

.paper-border-6 {
  border-bottom-left-radius: 15px 225px;
  border-bottom-right-radius: 20px 205px;
  border-top-left-radius: 28px 125px;
  border-top-right-radius: 100px 30px;
}
