/* PaperCss 样式 */
$--dino-paper-text: $--dino-color-gray-800;
$--dino-paper-border: $--dino-color-coolGray-300;

$--dino-paper-primary-border: $--dino-color-gray-600;
$--dino-paper-primary-text: $--dino-color-gray-800;
$--dino-paper-primary-bg: #c1c0bd;
$--dino-paper-primary-bg-active: #a8a6a3;

$--dino-paper-secondary-border: #0071de;
$--dino-paper-secondary-text: #0057ab;
$--dino-paper-secondary-bg: #deefff;
$--dino-paper-secondary-bg-active: #abd6ff;

$--dino-paper-success-border: #86a361;
$--dino-paper-success-text: #6c844d;
$--dino-paper-success-bg: #d0dbc2;
$--dino-paper-success-bg-active: #b7c9a1;

$--dino-paper-warning-border: #ddcd45;
$--dino-paper-warning-text: #cab925;
$--dino-paper-warning-bg: #f5f0c6;
$--dino-paper-warning-bg-active: #ede49b;

$--dino-paper-danger-border: #a7342d;
$--dino-paper-danger-text: #7f2722;
$--dino-paper-danger-bg: #f0cbc9;
$--dino-paper-danger-bg-active: #e6a5a1;

$--dino-paper-muted-border: #868e96;
$--dino-paper-muted-text: #6c757d;
$--dino-paper-muted-bg: #e6e7e9;
$--dino-paper-muted-bg-active: #caced1;

/* Border 样式 */
.paper-border {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.paper-border-2 {
  border-bottom-left-radius: 185px 25px;
  border-bottom-right-radius: 20px 205px;
  border-top-left-radius: 125px 25px;
  border-top-right-radius: 10px 205px;
}

.paper-border-3 {
  border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 15px 255px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 255px 15px;
}

.paper-border-4 {
  border-bottom-left-radius: 25px 115px;
  border-bottom-right-radius: 155px 25px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 25px 150px;
}

.paper-border-5 {
  border-bottom-left-radius: 20px 115px;
  border-bottom-right-radius: 15px 105px;
  border-top-left-radius: 250px 15px;
  border-top-right-radius: 25px 80px;
}

.paper-border-6 {
  border-bottom-left-radius: 15px 225px;
  border-bottom-right-radius: 20px 205px;
  border-top-left-radius: 28px 125px;
  border-top-right-radius: 100px 30px;
}

/* TODO PaperCard 组件 */
.paper-card {
  backface-visibility: hidden; // 当前元素背面向屏幕时是否可见
  -webkit-backface-visibility: hidden;
  will-change: transform; // 告知浏览器该元素会有哪些变化
  box-shadow: var(--dino-paper-card-shadow-color);
}

.paper-card-hover {
  &:hover {
    transform: translate3d(0, 2px, 0);
  }
}

/* TODO PaperButton 组件 */
.paper-btn {
  font-size: $--dino-font-size-base;
  padding: $--dino-space-2 $--dino-space-4;
  box-shadow: $--dino-box-shadow-xs;
  background-color: $--dino-color-white;
  color: $--dino-paper-text;
  border-color: $--dino-paper-border;

  &:hover {
    transform: translate3d(0, 2px, 0);
    box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
    border-color: $--dino-color-primary;
    color: $--dino-color-primary;
    opacity: $--dino-opacity-100;
  }
  &:active {
    transition: none;
  }
  &:active,
  &:focus {
    color: $--dino-color-primary;
    border-color: $--dino-color-primary;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25);
    border-color: #d9d9d9;
    background: #f5f5f5;
    text-shadow: none;
    box-shadow: none;
    // pointer-events: none; // 禁用鼠标事件

    &:hover {
      transform: none;
    }
  }
}

.paper-btn-large {
  font-size: $--dino-font-size-xl;
  padding: $--dino-space-2 $--dino-space-6;
}

.paper-btn-small {
  font-size: $--dino-font-size-sm;
  padding: $--dino-space-1 $--dino-space-2;
}

.paper-btn-block {
  display: block;
  width: 100%;
}

$btn-type-list: (
  primary: (
    color: $--dino-paper-primary-text,
    border: $--dino-paper-primary-border,
    bg: $--dino-paper-primary-bg,
    bg-active: $--dino-paper-primary-bg-active,
  ),
  secondary: (
    color: $--dino-paper-secondary-text,
    border: $--dino-paper-secondary-border,
    bg: $--dino-paper-secondary-bg,
    bg-active: $--dino-paper-secondary-bg-active,
  ),
  success: (
    color: $--dino-paper-success-text,
    border: $--dino-paper-success-border,
    bg: $--dino-paper-success-bg,
    bg-active: $--dino-paper-success-bg-active,
  ),
  warning: (
    color: $--dino-paper-warning-text,
    border: $--dino-paper-warning-border,
    bg: $--dino-paper-warning-bg,
    bg-active: $--dino-paper-warning-bg-active,
  ),
  danger: (
    color: $--dino-paper-danger-text,
    border: $--dino-paper-danger-border,
    bg: $--dino-paper-danger-bg,
    bg-active: $--dino-paper-danger-bg-active,
  ),
  muted: (
    color: $--dino-paper-muted-text,
    border: $--dino-paper-muted-border,
    bg: $--dino-paper-muted-bg,
    bg-active: $--dino-paper-muted-bg-active,
  ),
);
@each $type, $map in $btn-type-list {
  .paper-btn-#{$type} {
    color: map-get($map, 'color');
    border-color: map-get($map, 'border');
    background-color: map-get($map, 'bg');

    &:hover {
      border-color: map-get($map, 'border');
      color: map-get($map, 'color');
    }
    &:active,
    &:focus {
      background-color: map-get($map, 'bg-active');
      border-color: map-get($map, 'border');
      color: map-get($map, 'color');
    }
  }
  // 空心，背景为白色
  .paper-btn-#{$type}-outline {
    border-color: map-get($map, 'bg-active');
    background-color: $--dino-color-white;

    &:hover {
      background-color: map-get($map, 'bg');
    }
    &:active {
      background-color: map-get($map, 'bg-active');
      border-color: map-get($map, 'border');
      color: map-get($map, 'color');
    }
  }
}

/* ToTop 组件 */
.to-top {
  padding: 0.6em 1em;
  border-top-left-radius: 185px 160px;
  border-top-right-radius: 200px 195px;
  border-bottom-right-radius: 160px 195px;
  border-bottom-left-radius: 185px x;
}
