.collapseSidebarButton {
  position: absolute;
  top: 240px;
  right: -13px;
  z-index: 2;
  background: var(--ifm-navbar-background-color);
  border: 1px solid var(--color-fill-3);
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
  transition: all 0.15s;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.collapseSidebarButtonIcon {
  font-size: 0.875rem;
  color: var(--color-text-2);
}
