.react-json-view {
  font-size: 13px;
  .object-content {
    .variable-row {
      display: flex;
      align-items: center;
      > span:first-of-type {
        display: flex;
        align-items: center;
        > span:last-of-type {
          margin-left: 0 !important;
        }
      }
      .variable-value {
      }
    }
  }
}
